@import url('https://fonts.googleapis.com/css2? family=Inter&family=Lora:ital,wght@0,500;0,700;1,400;1,500;1,600;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,200;1,100&display=swap');
@import url("banner.css");
@import url("buttons.css");
@import url("cards.css");
@import url("footer.css");
@import url("cards-fill.css");

a {
  text-decoration: none;
}

body {
  font-family: 'Lora', sans-serif;
  margin: 0;
  background-color: #8b4513;
  background-attachment: fixed;
  
}

h1, {
  font-family: 'Raleway', 
  text-align: left;
}

 h2, {
font-family: 'Raleway', 
  text-align: left;
 }

.container1 {
  width: 80%;
  margin: 0 auto;
}

.menu{
	text-align: right;
	display: flex;
	justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 99;
}

.menu a{
	padding: 0 24px;
	background-color: white;
	border-radius: 8px;
	display: inline;
	width: 30%;
	margin:10px 12px;
	text-align: center;
  color: #ae5618
}

.menu a:hover {
  color: blue;
}


#logo{
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.div-size-2{

  margin-top: 27px;
}

.menuflooter{

  padding: 0;
  padding-right: 16px;
  text-align: right;
  color: white;
  

}
.menu li{
  display: inline;
  margin: 0 16px;
  color: white;
  
}
a {
  color: white;
  text-decoration: none;
}